
  <form #loginForm="ngForm" (ngSubmit)="submitLoginForm(loginForm)">
    <label>Email Id</label>
    <br>
    <input type="text" name="email" #emailRef="ngModel" class="form-control" ngModel required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"><br>
    <br>
    <div style="color:red;">
      <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)">
      <div [hidden]="!emailRef.errors.required">
        <p>Email id is mandatory</p>
      </div>
        <div [hidden]="!emailRef.errors.pattern">
          <p>Email id is not entered in proper format</p>
        </div>
      </div>
      </div>
      <br>
      <label>Password</label>
      <br>
      <input type="password" name="password" #passwordRef="ngModel" class="form-control" ngModel required><br>
      <br>
      <div *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched)" style="color:red;">
        <div [hidden]="!passwordRef.errors.required">
          <p>Password is mandatory</p>
        </div>
      </div>
      <button type="submit" [disabled]="!loginForm.form.valid" name="submit">Submit</button><br>
  </form>

